@font-face {
  font-family: "nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "nunito";
  src: url("/fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

:root {
  --white: white;
  --teal: #64ffda;
  --darkTeal: #40d2af;
  --blue: #2098f5;
  --divider: rgba(145, 158, 171, 0.24);
  --badgeBg: white;
  --dTeal: #40d2af;

  --landing-text-header: rgb(243, 244, 246);
  --landing-text-subScription: rgb(17, 24, 39);
  --landing-text-footer: rgb(17, 24, 39);
  --landing-text-textDisabled: #9ca3af;

  --landing-bg-header: rgb(17, 24, 39);
  --landing-bg-subScription: rgb(17, 24, 39);
  --landing-bg-footer: rgb(243, 244, 246);

  --text-primary: #030303;
  --text-secondary: #666666;
  --text-disabled: #828282;
  --text-muted: #707070;

  --bg-paper: #ddf1f7;
  --bg-default: #ecf5ff;
  --bg-neutral: #f3f6fe;
  --bg-lighter: #e3eeff;

  --card-active: #5cc7f1;
  --card-focus: #508be9;
  --card-text: white;

  --shadows-paper: #bac8d3d5;
  --shadows-default: #f0f4fa;
  --shadows-neutral: #f8faff;
}

.dark {
  --badgeBg: rgb(225, 227, 226);
  --dTeal: #64ffda;

  --text-primary: #f4fafd;
  --text-secondary: #d2d2df;
  --text-disabled: #545456;
  --text-muted: #3c3c3c;

  --bg-paper: #0e1520;
  --bg-default: #171e28;
  --bg-neutral: #1b212b;
  --bg-lighter: #233043;

  --card-active: #4783a8;
  --card-focus: #4376c9;
  --card-text: white;

  --shadows-paper: #2d476ecc;
  --shadows-default: #191f30;
  --shadows-neutral: #20232b;
}

* {
  margin: 0;
  padding: 0;
  font-family: nunito, sans-serif !important;
  box-sizing: border-box;
}

html,
body,
#__next {
  font-family: "nunito", sans-serif !important;
  height: 100%;
}
main {
  min-height: 100vh;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.bg-paper {
  background-color: var(--bg-paper);
}
.bg-default {
  background-color: var(--bg-default);
}
.bg-neutral {
  background-color: var(--bg-neutral);
}
.bg-lighter {
  background-color: var(--bg-lighter);
}
.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-muted {
  color: var(--text-muted);
}

.text-disabled {
  color: var(--text-disabled);
}

.badgeBg {
  background-color: var(--badgeBg);
}

.card-active {
  background-color: var(--card-active);
}

.card-focus {
  background-color: var(--card-focus);
}

.card-text {
  background-color: var(--card-text);
}

.teal-on-hover {
  transition: all 0.3s;
  background-color: transparent !important;
}

.teal-on-hover:hover {
  color: var(--dTeal);
  text-shadow: 0 0 5px var(--dTeal);
}

.circle {
  border-radius: 999px;
  aspect-ratio: 1/1;
}

.border-l {
  border-left: 1px solid var(--divider);
}
.border-r {
  border-right: 1px solid var(--divider);
}
.border-top {
  border-top: 1px solid var(--divider);
}
.border-b {
  border-bottom: 1px solid var(--divider);
}

.center{
  display: grid;
  place-items: center;
}