@font-face {
  font-family: "nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "nunito";
  src: url("/fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

:root {
  --neutral: #f8faff; /* ! chats bg */
  --default: #f0f4fa; /* ! sidebar and conversation bg */
  --paper: #eaf2fe; /* ! textInput bg */
  --white: #fff; /* ! chat-item and call-bg  */
  --active: #5b96f7; /* !active chat-item and button bg */

  --lightest: #f9fafb;
  --lighter: #f4f6f8;
  --dark: #454f5b;
  --darker: #212b36;
  --darkest: #161c24;

  --blueDark: #0e151e;
  --blueDarkest: #0e151e;
  --teal: #64ffda;
  --tealDark: #40d2af;

  --card: var(--white);
  --cardActive: #7eb2ff;
  --cardHover: var(--teal);

  --sidebarBg: var(--default);
  --conversationBg: var(--default);
  --chatsBg: var(--neutral);
  --chatItemBg: var(--white);

  --textPrimary: #030303;
  --textSecondary: #7c7c7d;
  --textDisabled: #7c7c7d;

  --navy: rgb(17, 24, 39);
}

.dark {
  --neutral: #f8faff; /* ! chats bg */
  --default: #f0f4fa; /* ! sidebar and conversation bg */
  --paper: #eaf2fe; /* ! textInput bg */
  --white: #fff; /* ! chat-item and call-bg  */
  --active: #5b96f7; /* !active chat-item and button bg */

  --lightest: #f9fafb;
  --lighter: #f4f6f8;
  --dark: #454f5b;
  --darker: #212b36;
  --darkest: #161c24;

  --blueDark: #0e151e;
  --blueDarkest: #0e151e;
  --teal: #64ffda;
  --tealDark: #40d2af;

  --card: var(--white);
  --cardActive: #7eb2ff;
  --cardHover: var(--teal);

  --sidebarBg: var(--default);
  --conversationBg: var(--default);
  --chatsBg: var(--neutral);
  --chatItemBg: var(--white);

  --textPrimary: #030303;
  --textSecondary: #7c7c7d;
  --textDisabled: #7c7c7d;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: nunito, sans-serif !important; */
  box-sizing: border-box;
}

html,
body,
#__next {
  font-family: "nunito", sans-serif !important;
  height: 100%;
}
main {
  min-height: 100vh;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}
